body{
    overflow-x: hidden;
    background-color: #E9F4FF;
    font-family: "Poppins", sans-serif;
}
*{
    padding: 0;
    margin: 0;
}

th{
    color: #666666 !important;
}

.dropdown-toggle::after {
    display: none;
  }